<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.NewsDetailMapper">

    <select id="findAllNews" resultType="NewsDetail">
        SELECT * FROM newsdetail ORDER BY createdate desc
    </select>

    <select id="findAllCom" resultType="NewsComment">
        SELECT * FROM newscomment
    </select>

</mapper>